<a id='_top'></a>
### pythonから、MariaDB への接続
- 接続モジュールのインストール
    - pip install mysql-connector-python
- python 基礎的DBやりとり
    - モジュールの読込  : import mysql.connector 
    - DBコネクション作成 : con =  mysql.connector.connect(**config)  インスタンスを生成
    - カーソルを作成   : cursor = con.cursor( )
    - SQLクエリを投げる   : cursor.execute(query)
    - 結果を受け取る       : cursor.fetchall(), cursor.fetchone()等

[Top >](#_top) <a id='_connect'></a>
### mysql-connector-python

In [ ]:
# !pip install mysql-connector-python

In [1]:
import mysql.connector

In [2]:
# DBコネクション作成 : 
config = {
    'host': 'db',              # url  
    'port' : 3306,             # 接続ポート  
    'user': 'user',            # ユーザー  
    'password': 'pass',        #  パスワード  
    'database' : 'sample'      # 初期接続DataBase  
}
con = mysql.connector.connect(**config) # インスタンスを生成

In [3]:
# 接続がされたかの確認
con.is_connected()

True

In [4]:
cursor = con.cursor() # cursol を作る

In [5]:
# queryを投げる
query = ''' SHOW DATABASES;'''
cursor.execute(query)

cursor.fetchall() # queryの返値を受け取る

[('information_schema',), ('sample',)]

#### DataBase操作基礎
- DataBaseの一覧を表示　　　　SHOW DATABASES
- 利用DataBaseに移動　　　　　　　USE データベース名
- DataBase内のtable一覧を表示　　　SHOW TABLES
- テーブルの構造を表示   desc table名 
- 詳しいテーブル構造を表示　SHOW FULL COLUMNS FROM　table名 
- テーブルのレコードを表示  select 列名1 列名2 ... from table名 
- テーブルの一部レコードを表示  select 列名1 列名2 ... from table名 where 条件式

In [6]:
# DataBaseの一覧を表示 queryを投げる
query = ''' SHOW DATABASES;'''
cursor.execute(query)
cursor.fetchall()

[('information_schema',), ('sample',)]

In [7]:
# 利用DataBaseに移動
cursor.execute('use sample')

In [8]:
# データベース内のTableを表示
cursor.execute('SHOW TABLES')
cursor.fetchall()

[('iris',), ('users',)]

In [9]:
# テーブルの構造を表示
cursor.execute('desc iris')
cursor.fetchall()

[('sepal_length', 'float', 'NO', '', None, ''),
 ('sepal_width', 'float', 'NO', '', None, ''),
 ('petal_length', 'float', 'NO', '', None, ''),
 ('petal_width', 'float', 'NO', '', None, ''),
 ('species', 'char(20)', 'NO', '', None, '')]

In [12]:
# テーブルの構造を表示
cursor.execute('desc users')
cursor.fetchall()

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('email', 'varchar(255)', 'NO', '', None, ''),
 ('password', 'varchar(255)', 'NO', '', None, '')]

In [11]:
# queryを投げる
query = '''SELECT * FROM users'''
cursor.execute(query)
cursor.fetchall()

[(1, 'webmaster@python.org', 'very-secret')]

In [13]:
# data を insert 実行時 data を変更
data = [['adominsAA@aaa.com', 'goodpassword'],
          ['webAdm2@test.org', 'good-secret2'],
          ['webmaster3@pytest.com', 'very-secret3'],
          ['users4@mypage.jp', 'secret4'],
          ['web5@mypage.jp', 'no-secret5']]
sql = '''INSERT INTO users
(email, password)
VALUES (%s, %s)'''

cursor.executemany(sql, data)
con.commit()

In [14]:
# queryを投げる　全レコードを表示
query = '''SELECT * FROM users'''
cursor.execute(query)
cursor.fetchall()

[(1, 'webmaster@python.org', 'very-secret'),
 (2, 'adominsAA@aaa.com', 'goodpassword'),
 (3, 'webAdm2@test.org', 'good-secret2'),
 (4, 'webmaster3@pytest.com', 'very-secret3'),
 (5, 'users4@mypage.jp', 'secret4'),
 (6, 'web5@mypage.jp', 'no-secret5')]

In [ ]:
cursor.close()                   # カーソルを閉じる
con.close()                # 接続を終える

***
[Top >](#_top) <a id='_pandas'></a>
[Top >](#top) <a id='_pandas'></a>
### Pandasを使った、DBからのData取得とアップロード
- モジュールの読込  : import mysql.connector
- ラッパー SQLAlchemy python SQL Class利用
***
接続エンジン作成 connection

1. from sqlalchemy import create_engine
1. engine作成
    - engine = create_engine('mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'.format(**db_settings))
1. import pandas as pd

### 
### pd.read_sql( sql, con, index_col=None )  : 取得
- sql : SQL query
- con : sqlite3コネクション、または、SQLAlchemy connectable
- index_col=None : indexに指定する　列

### df.to_sql( name, con, if_exists='fail', index=True)  : 書込
- name : SQL table名   対象テーブル名
- con   : sqlite3コネクション、または、SQLAlchemy connectable
- schema=None  :  スキーマを指定します
- if_exists='fail'  :  
    - fail　　:  ValueError を発生
    - replace: 存在するテーブルを削除
    - append: I存在するテーブルに追加
- index=True : indexを書き込むか

In [15]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

### connection 作製
***

In [16]:
config = {
    'host': 'db',              # url  
    'port' : 3306,             # 接続ポート  
    'user': 'user',            # ユーザー  
    'password': 'pass',        #  パスワード  
    'database' : 'sample'      # 初期接続DataBase  
}

# engine作成
engine = create_engine('mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'.format(**config))

[Top >](#_top) <a id='_pymysql'></a>
### PyMySQL

In [ ]:
# !pip install PyMySQL

In [ ]:
import pymysql.cursors

In [ ]:
# DBコネクション作成 : 

connection = pymysql.connect(host='db',
                            user='root',
                            password='password',
                            database='sample',
                            cursorclass=pymysql.cursors.DictCursor)

In [ ]:
with connection:
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
        cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        cursor.execute(sql, ('webmaster@python.org',))
        result = cursor.fetchone()
        print(result)

In [ ]:
values = [['webmaster1@python.org', 'very-secret1'],
          ['webmaster2@python.org', 'very-secret2'],
          ['webmaster3@python.org', 'very-secret3'],
          ['webmaster4@python.org', 'very-secret4'],
          ['webmaster5@python.org', 'very-secret5']]
 
with connection:
    with connection.cursor() as cursor:
        # レコードを挿入
        sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
        cursor.executemany(sql, values)
 
    # コミットしてトランザク
    connection.commit()