<a id='_top'></a>
### pythonから、MariaDB への接続
- 接続モジュールのインストール
    - pip install mysql-connector-python
- python 基礎的DBやりとり
    - モジュールの読込  : import mysql.connector 
    - DBコネクション作成 : con =  mysql.connector.connect(**config)  インスタンスを生成
    - カーソルを作成   : cursor = con.cursor( )
    - SQLクエリを投げる   : cursor.execute(query)
    - 結果を受け取る       : cursor.fetchall(), cursor.fetchone()等

[Top >](#_top) <a id='_connect'></a>
### mysql-connector-python

In [1]:
# !pip install mysql-connector-python

In [2]:
import mysql.connector

In [3]:
# DBコネクション作成 : 
config = {
    'host': 'db',              # url  
    'port' : 3306,             # 接続ポート  
    'user': 'user',            # ユーザー  
    'password': 'pass',        #  パスワード  
    'database' : 'sample'      # 初期接続DataBase  
}
con = mysql.connector.connect(**config) # インスタンスを生成

In [4]:
# 接続がされたかの確認
con.is_connected()

True

In [5]:
cursor = con.cursor() # cursol を作る

In [6]:
# queryを投げる
query = ''' SHOW DATABASES;'''
cursor.execute(query)

cursor.fetchall() # queryの返値を受け取る

[('information_schema',), ('sample',)]

#### DataBase操作基礎
- DataBaseの一覧を表示　　　　SHOW DATABASES
- 利用DataBaseに移動　　　　　　　USE データベース名
- DataBase内のtable一覧を表示　　　SHOW TABLES
- テーブルの構造を表示   desc table名 
- 詳しいテーブル構造を表示　SHOW FULL COLUMNS FROM　table名 
- テーブルのレコードを表示  select 列名1 列名2 ... from table名 
- テーブルの一部レコードを表示  select 列名1 列名2 ... from table名 where 条件式

In [7]:
# DataBaseの一覧を表示 queryを投げる
query = ''' SHOW DATABASES;'''
cursor.execute(query)
cursor.fetchall()

[('information_schema',), ('sample',)]

In [8]:
# 利用DataBaseに移動
cursor.execute('use sample')

In [9]:
# データベース内のTableを表示
cursor.execute('SHOW TABLES')
cursor.fetchall()

[('iris',), ('users',)]

In [10]:
# テーブルの構造を表示
cursor.execute('desc iris')
cursor.fetchall()

[('index', 'bigint(20)', 'YES', 'MUL', None, ''),
 ('sepal_length', 'double', 'YES', '', None, ''),
 ('sepal_width', 'double', 'YES', '', None, ''),
 ('petal_length', 'double', 'YES', '', None, ''),
 ('petal_width', 'double', 'YES', '', None, ''),
 ('species', 'text', 'YES', '', None, '')]

In [11]:
# テーブルの構造を表示
cursor.execute('desc users')
cursor.fetchall()

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('email', 'varchar(255)', 'NO', '', None, ''),
 ('password', 'varchar(255)', 'NO', '', None, '')]

In [12]:
# queryを投げる
query = '''SELECT * FROM users'''
cursor.execute(query)
cursor.fetchall()

[(1, 'webmaster@python.org', 'very-secret'),
 (2, 'adominsAA@aaa.com', 'goodpassword'),
 (3, 'webAdm2@test.org', 'good-secret2'),
 (4, 'webmaster3@pytest.com', 'very-secret3'),
 (5, 'users4@mypage.jp', 'secret4'),
 (6, 'web5@mypage.jp', 'no-secret5')]

In [13]:
# data を insert 実行時 data を変更
data = [['adominsBB@aaa.com', 'goodpassword'],
          ['webAdm8@test.org', 'good-secret2'],
          ['webmaster9@pytest.com', 'very-secret3'],
          ['users10@mypage.jp', 'secret4'],
          ['web11@mypage.jp', 'no-secret5']]
sql = '''INSERT INTO users
(email, password)
VALUES (%s, %s)'''

cursor.executemany(sql, data)
con.commit()

In [14]:
# queryを投げる　全レコードを表示
query = '''SELECT * FROM users'''
cursor.execute(query)
cursor.fetchall()

[(1, 'webmaster@python.org', 'very-secret'),
 (2, 'adominsAA@aaa.com', 'goodpassword'),
 (3, 'webAdm2@test.org', 'good-secret2'),
 (4, 'webmaster3@pytest.com', 'very-secret3'),
 (5, 'users4@mypage.jp', 'secret4'),
 (6, 'web5@mypage.jp', 'no-secret5'),
 (7, 'adominsBB@aaa.com', 'goodpassword'),
 (8, 'webAdm8@test.org', 'good-secret2'),
 (9, 'webmaster9@pytest.com', 'very-secret3'),
 (10, 'users10@mypage.jp', 'secret4'),
 (11, 'web11@mypage.jp', 'no-secret5')]

In [20]:
# queryを投げる　全レコードを表示
query = '''SELECT * FROM iris WHERE species='virginica'; '''
cursor.execute(query)
cursor.fetchall()

[(100, 6.3, 3.3, 6.0, 2.5, 'virginica'),
 (101, 5.8, 2.7, 5.1, 1.9, 'virginica'),
 (102, 7.1, 3.0, 5.9, 2.1, 'virginica'),
 (103, 6.3, 2.9, 5.6, 1.8, 'virginica'),
 (104, 6.5, 3.0, 5.8, 2.2, 'virginica'),
 (105, 7.6, 3.0, 6.6, 2.1, 'virginica'),
 (106, 4.9, 2.5, 4.5, 1.7, 'virginica'),
 (107, 7.3, 2.9, 6.3, 1.8, 'virginica'),
 (108, 6.7, 2.5, 5.8, 1.8, 'virginica'),
 (109, 7.2, 3.6, 6.1, 2.5, 'virginica'),
 (110, 6.5, 3.2, 5.1, 2.0, 'virginica'),
 (111, 6.4, 2.7, 5.3, 1.9, 'virginica'),
 (112, 6.8, 3.0, 5.5, 2.1, 'virginica'),
 (113, 5.7, 2.5, 5.0, 2.0, 'virginica'),
 (114, 5.8, 2.8, 5.1, 2.4, 'virginica'),
 (115, 6.4, 3.2, 5.3, 2.3, 'virginica'),
 (116, 6.5, 3.0, 5.5, 1.8, 'virginica'),
 (117, 7.7, 3.8, 6.7, 2.2, 'virginica'),
 (118, 7.7, 2.6, 6.9, 2.3, 'virginica'),
 (119, 6.0, 2.2, 5.0, 1.5, 'virginica'),
 (120, 6.9, 3.2, 5.7, 2.3, 'virginica'),
 (121, 5.6, 2.8, 4.9, 2.0, 'virginica'),
 (122, 7.7, 2.8, 6.7, 2.0, 'virginica'),
 (123, 6.3, 2.7, 4.9, 1.8, 'virginica'),
 (124, 6.7, 3.3, 5.7, 2.1, 'virginica'),
 (125, 7.2, 3.2, 6.0, 1.8, 'virginica'),
 (126, 6.2, 2.8, 4.8, 1.8, 'virginica'),
 (127, 6.1, 3.0, 4.9, 1.8, 'virginica'),
 (128, 6.4, 2.8, 5.6, 2.1, 'virginica'),
 (129, 7.2, 3.0, 5.8, 1.6, 'virginica'),
 (130, 7.4, 2.8, 6.1, 1.9, 'virginica'),
 (131, 7.9, 3.8, 6.4, 2.0, 'virginica'),
 (132, 6.4, 2.8, 5.6, 2.2, 'virginica'),
 (133, 6.3, 2.8, 5.1, 1.5, 'virginica'),
 (134, 6.1, 2.6, 5.6, 1.4, 'virginica'),
 (135, 7.7, 3.0, 6.1, 2.3, 'virginica'),
 (136, 6.3, 3.4, 5.6, 2.4, 'virginica'),
 (137, 6.4, 3.1, 5.5, 1.8, 'virginica'),
 (138, 6.0, 3.0, 4.8, 1.8, 'virginica'),
 (139, 6.9, 3.1, 5.4, 2.1, 'virginica'),
 (140, 6.7, 3.1, 5.6, 2.4, 'virginica'),
 (141, 6.9, 3.1, 5.1, 2.3, 'virginica'),
 (142, 5.8, 2.7, 5.1, 1.9, 'virginica'),
 (143, 6.8, 3.2, 5.9, 2.3, 'virginica'),
 (144, 6.7, 3.3, 5.7, 2.5, 'virginica'),
 (145, 6.7, 3.0, 5.2, 2.3, 'virginica'),
 (146, 6.3, 2.5, 5.0, 1.9, 'virginica'),
 (147, 6.5, 3.0, 5.2, 2.0, 'virginica'),
 (148, 6.2, 3.4, 5.4, 2.3, 'virginica'),
 (149, 5.9, 3.0, 5.1, 1.8, 'virginica')]

In [ ]:
cursor.close()                   # カーソルを閉じる
con.close()                # 接続を終える

***
[Top >](#_top) <a id='_pandas'></a>
[Top >](#top) <a id='_pandas'></a>
### Pandasを使った、DBからのData取得とアップロード
- モジュールの読込  : import mysql.connector
- ラッパー SQLAlchemy python SQL Class利用
***
接続エンジン作成 connection

1. from sqlalchemy import create_engine
1. engine作成
    - engine = create_engine('mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'.format(**db_settings))
1. import pandas as pd

### 
### pd.read_sql( sql, con, index_col=None )  : 取得
- sql : SQL query
- con : sqlite3コネクション、または、SQLAlchemy connectable
- index_col=None : indexに指定する　列

### df.to_sql( name, con, if_exists='fail', index=True)  : 書込
- name : SQL table名   対象テーブル名
- con   : sqlite3コネクション、または、SQLAlchemy connectable
- schema=None  :  スキーマを指定します
- if_exists='fail'  :  
    - fail　　:  ValueError を発生
    - replace: 存在するテーブルを削除
    - append: I存在するテーブルに追加
- index=True : indexを書き込むか

In [ ]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

### connection 作製
***

In [ ]:
config = {
    'host': 'db',              # url  
    'port' : 3306,             # 接続ポート  
    'user': 'user',            # ユーザー  
    'password': 'pass',        #  パスワード  
    'database' : 'sample'      # 初期接続DataBase  
}

# engine作成
engine = create_engine('mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'.format(**config))

### テーブルの書込
### df.to_sql( name, con, if_exists='fail', index=True)
***

In [ ]:
df = pd.read_csv('data/iris.csv')
df.head()

In [ ]:
# テーブルの書込
df.to_sql( name='iris',con=engine, if_exists='replace')

### テーブルからの読込
### pd.read_sql( sql, con, index_col=None )

In [ ]:
# テーブルの読込
query = "SELECT * FROM iris"
query = "SHOW TABLES"
tmp = pd.read_sql(sql=query,con=engine)
tmp

[Top >](#_top) <a id='_pymysql'></a>
### PyMySQL

In [ ]:
# !pip install PyMySQL

In [ ]:
import pymysql.cursors

In [ ]:
# DBコネクション作成 : 

connection = pymysql.connect(host='db',
                            user='root',
                            password='password',
                            database='sample',
                            cursorclass=pymysql.cursors.DictCursor)

In [ ]:
with connection:
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
        cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        cursor.execute(sql, ('webmaster@python.org',))
        result = cursor.fetchone()
        print(result)

In [ ]:
values = [['webmaster1@python.org', 'very-secret1'],
          ['webmaster2@python.org', 'very-secret2'],
          ['webmaster3@python.org', 'very-secret3'],
          ['webmaster4@python.org', 'very-secret4'],
          ['webmaster5@python.org', 'very-secret5']]
 
with connection:
    with connection.cursor() as cursor:
        # レコードを挿入
        sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
        cursor.executemany(sql, values)
 
    # コミットしてトランザク
    connection.commit()